%html
  %head
    %title Blogr
    %link{:rel=>'stylesheet', :type=>'text/css', :href=>'/css', :media=>'screen,tv,projection'}
  %body
    #wrap
      #header
        - if @logged_in
          %a{:href=>'/logout'} logout
        - else
          %a{:href=>'/login'} login
      #content
        = yield
