body
  margin: 0

a
  color: gray
  &:hover
    color: white
    background-color: gray

#wrap
  width: 900px
  margin: 10px auto

#header
  text-align: right
  padding: 2px 0
  border-bottom: solid 1px silver

.entry
  padding: 4px
  margin: 8px 0
  border: dotted 1px silver

h2.entry_title
  color: gray
  margin: 0
  padding: 2px
  border-bottom: dotted 1px silver

.entry_body
  padding: 4px 2px
