.comments
  %h2#comments Comments
  - entry.comments.each do |comment|
    %div{:class=>'comment', :id=>"comment_#{comment.id}"}
      .status
        - if comment.url && !comment.url.empty?
          %a{:href=>comment.url}&= comment.name
        - else
          &= comment.name
      .comment_body
        = h(comment.body).gsub("\n", "<br />\n")

  #comment_form
    %form{:action=>"/comment", :method=>'post'}
      %input{:type=>'hidden', :name=>'entry_id', :value=>entry.id}
      %table
        %tr
          %th
            name:
          %td
            %input{:type=>'text', :name=>'name', :size=>40}
        %tr
          %th
            email:
          %td
            %input{:type=>'text', :name=>'email', :size=>40}
        %tr
          %th
            url:
          %td
            %input{:type=>'text', :name=>'url', :size=>40}
        %tr
          %th
            comment:
          %td
            %textarea{:name=>'body', :rows=>10, :cols=>100}
        %tr
          %th
          %td
            %input{:type=>'submit', :value=>'post'}

