%html
  %head
    %meta{:"http-equiv"=>"Content-Type", :content=>"text/html;charset=UTF-8"}
    %title Hamlr
    %link{:rel=>'stylesheet', :type=>'text/css', :href=>'/css', :media=>'screen,tv,projection'}/
    %script{:type=>"text/javascript", :src=>"/jquery.js"}/
  %body
    #wrap
      #header
        %h1
          %a{:href=>'/'}= options.blog_title

        %form{:action=>'/search', :method=>'get', :class=>'seach_form'}
          %input{:type=>'text', :name=>'q', :value=>(defined?(@q) ? @q : ''), :class=>'seach_text_field'}

        .main_menu
          - if @logged_in
            %a{:href=>'/entry/new'} new post
            \|
            %a{:href=>'/logout'} logout
          - else
            %a{:href=>'/login'} login

      #content
        = yield

      #footer
        Powerd by
        %a{:href=>'http://github.com/jugyo/hamlr'} Hamlr
